<!DOCTYPE html>
<html lang="en">

<head>
    <!-- iocluding ejs head file -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">



    <!-- bootstarp link -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Admin panel || Admin_section</title>
</head>

<body>


    <style>
        .fa-trash {
            color: red;
            cursor: pointer;
        }

        .fa-pen {
            color: rgb(216, 128, 14);
        }


        thead {
            background-color: antiquewhite;
        }

        th {
            margin: 40px;
        }

        table,
        td,
        th {
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            margin: auto;
        }

        table {
            margin: 30px;
        }

        tr:nth-child(odd) {
            background-color: rgb(66, 235, 241);
        }

        thead,
        th,
        tr,
        td {
            border: 1px solid;
        }

        .imagebox {

            height: 40px;
            width: 40px;
        }

        .for2mbody {
            background-color: aqua;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
            border-radius: 20px;
            margin-top: 50px;
        }

        /* inpput validdation */

        input.ng-touched.ng-invalid {
            border-left: 20px solid red;
        }
    </style>

    <!-- include header -->
    <section>
        <%-include('../partials/header')%>
    </section>


    <!-- admin register page -->


    <div class="conatiner-fluid">
        <div class="row justify-content-center align-items-center">

            <div class="col-sm-12 col-xl-6 col-lg-6 col-md-6 align-items-center justify-content-center text-center"
                style="background-color: antiquewhite ; border-radius: 25px; margin-bottom: 40px; margin-top: 40px;">

                <h1>
                    Create Admin
                </h1>

                <div class="div">
                    <% if(message !="" ) {%>
                        <div class="alert alert-danger">
                            <%=message%>

                        </div>
                        <%} %>

                </div>

                <form action="/adminmain" method="POST" autocomplete="off">
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <input type="text" class="form-control" name="Name" id="username" placeholder="Username"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone No</label>
                        <input type="number" class="form-control" name="Phoneno" id="phoneno" placeholder="phoneno "
                            required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Email</label>
                        <input type="email" class="form-control" name="Email" id="email" placeholder="email" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" name="Password" id="password" placeholder="Password"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Confirm Password</label>
                        <input type="password" class="form-control" id="confirmpassword" name="confirmPassword"
                            placeholder="Confirm Password" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>


            </div>
        </div>


    </div>


    <div class="conatiner-fluid">
        <div class="row justify-content-center align-items-center">

            <div class="col-sm-12 col-xl-9 col-lg-9 col-md-9 justify-content-center align-items-center text-center"
                style="background-color: rgb(241, 220, 220);">
                <div class="table"
                    style="display: flex; justify-content: center; text-align: center; flex-direction: column;">
                    <div class="row align-items-center justify-content-center text-center">
                        <h1>Admin List</h1>


                    </div>


                    <% if(data.length !=="" ){%>


                        <Table>
                            <thead>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Mobile No</th>
                                <th>Email_ID</th>
                                <th>Delete</th>
                            </thead>
                            <tbody>

                                <% data.forEach(function(data){%>
                                    <tr>
                                        <td>
                                            <%=data.Admin_id%>
                                        </td>
                                        <td>
                                            <%=data.Name%>
                                        </td>
                                        <td>
                                            <%=data.Phoneno%>
                                        </td>
                                        <td>
                                            <%=data.Email%>
                                        </td>
                                        <td>
                                           <a href="/deladmin/<%=data.Admin_id%>"><button>Delete</button></a>

                                        </td>

                                    </tr>

                                    <%})%>

                            </tbody>

                        </Table>

                        <%}%>
                </div>
            </div>
        </div>


    </div>



    <!-- bootom script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>

</body>

</html>